.bright-yellow {
  background-color: #f9d549;
}

/* Adjust icon size if needed */
.width-6.height-6 {
  width: 24px; /* Adjust to your desired size */
  height: 24px; /* Adjust to your desired size */
}

