.scroll-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.marquee-content {
  display: flex;
  animation: marquee-left 60s linear infinite;
}

@keyframes marquee-left {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
